
@font-face {
	font-family: "CustomFont";
	src: url(assets/fonts/d44bbd8712f69079.ttf);
	font-weight: normal;
	font-style: normal;
  }

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}

html {
	background: rgb(0, 0, 0);
	scroll-behavior: smooth;
  }

body {
	margin: 0;
	background: rgb(242, 199, 156);
	font-family: "CustomFont";
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: contain;
}

canvas { display: block; }

a {
	color: rgb(242, 199, 156);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	font-family: "CustomFont";
	font-size: 25px;
	cursor: pointer;
	text-transform: uppercase;
}

span {
	font-family: "CustomFont";
	font-size: 25px;
	cursor: pointer;
	text-transform: uppercase;
}

#volta {
	position: absolute;
	top: 0%;
	padding: 10px 10px;
	height:10px;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
}

#volta button {
	color: #fa0606;
	background: transparent;
	padding: 0px 0px;
	border: 0px;
	font-family: "CustomFont";
	font-size: 20px;
	text-transform: lowercase;
	width:50px;
	height:50px;
	justify-content: left;
	text-align: left;
	/* transform: rotate(-90deg); */

}

#volta button:hover {
	text-decoration: underline;
}

#joystick {
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 100px;
	height: 100px;
	background: rgba(246, 244, 244, 0.6);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#joystick-handle {
	width: 40px;
	height: 40px;
	background: rgba(241, 17, 17, 0.5);
	border-radius: 50%;
}


.crosshair-horizontal,
.crosshair-vertical {
  position: absolute;
  background-color: #ff0000; /* Red color for the crosshair lines */
  pointer-events: none; /* Allow mouse events to pass through */
  z-index: 1000; /* Ensure the crosshair is above other elements */
}

.crosshair-horizontal {
  width: 100%;
  height: 1px; /* Thickness of the horizontal line */
}

.crosshair-vertical {
  width: 1px; /* Thickness of the vertical line */
  height: 100%;
}



a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: transparent;
}

#overlay button {
	background: transparent;
	border: 0;
	border: 1px solid rgba(13, 13, 14, 0.3);
	border-radius: 10px;
	color: #ed0b0b;
	padding: 12px 18px;
	text-transform: uppercase;
	cursor: pointer;
}

#overlay img{
	position: relative;
	height: 40px; 
	width: 40px;
	padding-left: 0px;
	padding-top: 0px;
	margin-left: 0;
	vertical-align: middle;
	
}

/* 
#sec {
	position: absolute;
	top: 60px;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; 
	display: none;
	text-align: center;
	font-family: "CustomFont";

}

#sec button {
	background: transparent;
	border: 0;
	color: #e3dddd;
	padding: 5px 5px;
	text-transform: uppercase;
	font-size: 18px;
	justify-content: center;
	text-align: center;
	word-spacing: 15px;
	
}

#sec button:hover {
	color: #fe0b0b;
	text-decoration: underline;
} */

/* #sec button::selection {
	color: #fe0b0b;
} */



canvas {
	position: absolute;
	width:10%;
	padding-left: 0px;
	padding-top: 0px;
	margin-left: auto;

}

/* iframe {
	position: fixed;
	width:10px;
	height: 10px;
	padding-left: 25%;
	padding-top: 100px;
	margin-left: auto;
	vertical-align: middle;
} */

img {
	position: fixed;
	/* width:10px;
	height: 10px; */
	padding-left: 30%;
	padding-top: 100px;
	margin-left: auto;
	vertical-align: middle;
}


#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

  /* Tab container */
  .tab-container {
	width: 100%;
	max-width: 800px;
	margin: auto;
  }

  /* Tab buttons */
  .tabs {
	display: flex;
	border-bottom: 0px solid #000000;
	margin-bottom: 10px;
  }

  .tab-button {
	flex: 1;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	border: none;
	background-color: #050505;
	color: #0c0c0c;
	font-family: "CustomFont";
	font-size: 25px;
	transition: background-color 0.3s;
  }

  .tab-button:hover {
	background-color: #030303;
  }

  .tab-button.active {
	background-color: #020202;
	color: white;
/* font-weight: bold; */
  }

  /* Tab content */
  .tab-content {
	display: none;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #ffffff;
  }

  footer {
	padding: 3vh 10vw 0 10vw;
	gap: 20px;
	/* background-color: rgb(8, 8, 8); */
	color: rgb(4, 4, 4);
	font-family: "CustomFont";
	font-size: 13px;
	line-height: 24px;
}



  /* .tab-content.active {
	display: block;
  } */
